# Converting text to features

In [1]:
Text="I am learning NLP"

In [2]:
import pandas as pd
pd.get_dummies(Text.split())

   I  NLP  am  learning
0  1    0   0         0
1  0    0   1         0
2  0    0   0         1
3  0    1   0         0

In [9]:
text=["i love NLP and i will learn NLP in 2months"]

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer=CountVectorizer()
vectorizer.fit(text)
vector=vectorizer.transform(text)

In [11]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2months': 0}
[[1 1 1 1 1 2 1]]

In [12]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	1

In [14]:
CountVectorizer?

In [15]:
df=pd.DataFrame(data=vector.toarray(), columns=vectorizer.get_feature_names_out())
df

   2months  and  in  learn  love  nlp  will
0        1    1   1      1     1    2     1

In [16]:
text="I am learning NLP"

In [17]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\k harshini devi\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\k harshini devi\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\k harshini devi\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.0.3)
Requirement already satisfied: regex>=2021.8.3 in c:\users\k harshini devi\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2021.8.3)
Requirement already satisfied: joblib in c:\users\k harshini devi\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: tqdm in c:\users\k harshini devi\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\users\k harshini devi\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [18]:
from textblob import TextBlob
TextBlob(text).ngrams(1)

[WordList(['I']), WordList(['am']), WordList(['learning']), WordList(['NLP'])]

In [19]:
TextBlob(text).ngrams(2)

[WordList(['I', 'am']),
 WordList(['am', 'learning']),
 WordList(['learning', 'NLP'])]

In [20]:
TextBlob(text).ngrams(3)

[WordList(['I', 'am', 'learning']), WordList(['am', 'learning', 'NLP'])]

In [21]:
TextBlob(text).ngrams(4)

[WordList(['I', 'am', 'learning', 'NLP'])]

In [22]:
Text = ["The quick brown fox jumped over the lazy dog.", "The dog.", "The fox"]

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectorizer.fit(Text)
print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}
[1.69314718 1.28768207 1.28768207 1.69314718 1.69314718 1.69314718
 1.69314718 1.        ]